<h1>{{initCaps(room.type.toString())}}: {{room.name}}</h1>
<h2>Op verdieping {{floorId}}</h2>

<form *ngIf="room && form" [formGroup]="form" (submit)="onFormSubmit(form.value)">
  <mat-card>
    <mat-form-field>
      <input matInput required placeholder="Naam" formControlName="name">
      <mat-error *ngIf="!form.get('name').valid && form.get('name').touched">
          Please enter the room name.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select required placeholder="Kamer type" formControlName="type">
        <mat-option *ngFor="let roomType of getRoomTypes()" [value]="roomType">
          {{initCaps(roomType)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="half-width">
      <input type="number" matInput placeholder="Drukte" formControlName="crowdedness">
    </mat-form-field>

    <mat-form-field class="half-width">
      <input type="number" matInput required placeholder="Capaciteit" formControlName="capacity">
      <mat-error *ngIf="!form.get('capacity').valid && form.get('capacity').touched">
          Please enter the rooms capacity.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="quarter-width">
      <input type="number" matInput placeholder="X Coördinaten" formControlName="dimensions.x">
    </mat-form-field>

    <mat-form-field class="quarter-width">
      <input type="number" matInput placeholder="Y Coördinaten" formControlName="dimensions.y">
    </mat-form-field>

    <mat-form-field class="quarter-width">
      <input type="number" matInput placeholder="Breedte" formControlName="dimensions.width">
    </mat-form-field>

    <mat-form-field class="quarter-width">
      <input type="number" matInput placeholder="Hoogte" formControlName="dimensions.height">
    </mat-form-field>

    <mat-checkbox formControlName="occupied">Bezet</mat-checkbox>

    <mat-checkbox formControlName="beamer">Beamer</mat-checkbox>

    <button type="submit" color="primary" mat-raised-button>Opslaan</button>

  </mat-card>
</form>
