@import "~src/styles";

:host {
  width: 90%;

  @media only screen and (min-width: 800px) {
    width: 60%;
  }
}

mat-card {
  padding: 2rem;
  margin-bottom: 2rem;

  mat-form-field, mat-slider {
    width: 100%;
  }

  mat-checkbox {
    margin-right: 1rem;
  }

  button {
    border-radius: 5rem;
    margin: .5rem 0;
  }

  .half-width {
    width: 50%;
  }

  .quarter-width {
    width: 25%;
  }
}
