<h1>Campus <span *ngIf="campus">{{campus.name}}</span></h1>
<h2>De verdiepingen:</h2>

<div class="example-container mat-elevation-z8">
  <table *ngIf="floors" mat-table #table [dataSource]="floors">

    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef> Number</th>
      <td mat-cell *matCellDef="let element" class="title-col">{{element.number}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description</th>
      <td mat-cell *matCellDef="let element" class="title-col">{{element.description}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="data-cell" mat-row *matRowDef="let row; columns: displayedColumns;"
        [routerLink]="['/campuses/', campusId, 'floors', row.number]"></tr>
  </table>
</div>
