:host {
  width: 90%;

  @media only screen and (min-width: 800px) {
    width: 60%;
  }
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 210px;
  overflow: auto;
}

.title-col {
  flex: 0 0 100px !important;
  white-space: unset !important;
}

.button-row {
  margin: 10px 0;
}

.data-cell {
  cursor: pointer;
  &:hover {
    background-color: #f5f5f5;
  }
}
