@import "../styles.scss";

:host {
  background: radial-gradient(#0c76df 0%, #073e92 100%);
  overflow-x: hidden;
  margin: 0;
  font: 1rem 'Fira Sans', sans-serif;
  display: grid;
  min-height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px auto 40px;
  grid-template-areas: "logo" "nav" "router" "footer";

  @media only screen and (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto 40px;
    grid-template-areas: "logo nav" "router router" "footer footer";
  }
}


header {
  grid-area: logo;
  @include flex-center;
  font: 3rem 'Megrim';
  color: white;

  span {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
  }

  @media only screen and (min-width: 800px) {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
  }
}

nav {
  grid-area: nav;
  @include flex-center;
  border-bottom: 1px solid rgba(255, 255, 255, .5);

  button {
    background: rgba(0, 0, 0, .1);
    border: none;
    color: white;
    border-radius: 2rem;
    height: 2.3rem;
    padding: 0 1rem;
    margin: .5rem .5rem 0 .5rem;
    font-size: .9rem;
    outline: none;
    cursor: pointer;

    &:hover {
      background: white;
      color: $color-blue;
    }
  }
}

section {
  grid-area: router;
  padding-top: 3.5rem;
  display: flex;
  justify-content: center;
  background-size: 2rem 2rem;
  background-image: linear-gradient(to right, rgba(255, 255, 255, .1) 1px, transparent 1px),
  linear-gradient(to bottom, rgba(255, 255, 255, .1) 1px, transparent 1px);
}

footer {
  grid-area: footer;
  @include flex-center;
  font-size: .7rem;
  color: rgba(255, 255, 255, .7);
  border-top: 1px solid rgba(255, 255, 255, .5);
}
