@import "~src/styles";

$room-padding: 1rem;

:host.occupied {
  background-color: rgba(255, 45, 76, 0.32);
}

:host.selected {
  background-color: rgba(0, 0, 0, .2);
}

:host.occupied.selected {
  background-color: rgba(190, 29, 53, 0.35);
}

:host {
  width: 100%;
  min-height: 8rem;
  border: 1px solid white;
  outline: 1px dashed white;
  outline-offset: -.3rem;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 0;
  transition: background-color .1s ease;
}

h1 {
  color: white;
}

button {
  margin-top: 1rem;
  border-radius: 5rem;
}

.room-type, .beamer, .info {
  width: 1.5rem;
  height: 1.4rem;
}

.crowdedness {
  border-radius: 5rem;
  background-color: rgba(0, 0, 0, .1);
  padding: 0 .5rem 0 .5rem;
  line-height: 1.6;
  font-size: .9rem;

  .capacity-icon {
    font-size: 1rem;
    width: 1rem;
    height: .9rem;
    vertical-align: middle;
    padding-bottom: .2rem;
  }
}


/* ============= Positioning ============= */

.crowdedness {
  @include top-left-absolute($room-padding);
}

.info {
  @include top-right-absolute($room-padding);
  cursor: pointer;
}

.room-type {
  @include bottom-left-absolute($room-padding);
}

.beamer {
  @include bottom-right-absolute($room-padding);
}
