<header [class.list-view]="listView">
  <section class="buttons">
    <button mat-icon-button matTooltip="Ga een verdieping omlaag"
            (click)="changeFloor(-1)"><mat-icon>arrow_downward</mat-icon></button>
    <button mat-icon-button matTooltip="Ga een verdieping omhoog"
            (click)="changeFloor(1)"><mat-icon>arrow_upward</mat-icon></button>
  </section>

  <section>
    <h1>Verdieping {{floorId}}</h1>
    <h2>{{floor != null ? floor.description : 'Deze verdieping bestaat niet.'}}</h2>
  </section>

  <section class="buttons view-buttons">
    <button *ngIf="clearView" mat-icon-button matTooltip="Eigenschappen tonen"
            (click)="setView('clearView', false)"><mat-icon>crop_original</mat-icon></button>
    <button *ngIf="!clearView" mat-icon-button matTooltip="Eigenschappen verbergen"
            (click)="setView('clearView', true)"><mat-icon>crop_square</mat-icon></button>
    <button *ngIf="listView" mat-icon-button matTooltip="Weergeven als kaart"
            (click)="setView('listView', false)"><mat-icon>map</mat-icon></button>
    <button *ngIf="!listView" mat-icon-button  matTooltip="Weergeven als lijst"
            (click)="setView('listView', true)"><mat-icon>list</mat-icon></button>
  </section>
</header>

<section class="room-container"
         [class.list-view]="listView"
         [class.map-view]="!listView">
  <app-room-map *ngFor="let room of rooms"
                matRipple
                matRippleColor="rgba(0, 0, 0, .05)"
                [room]="room"
                [clearView]="clearView"
                [campusId]="campusId"
                [floorId]="floorId"
                [style.grid-row-start]="room.dimensions.y"
                [style.grid-row-end]="room.dimensions.y + room.dimensions.height"
                [style.grid-column-start]="room.dimensions.x"
                [style.grid-column-end]="room.dimensions.x + room.dimensions.width">
  </app-room-map>
</section>
