@import "~src/styles";

:host {
  width: 90%;
  margin-bottom: 5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1rem;

  h1 {
    font-size: 1.5rem;
  }

  .buttons {
    width: 5.3rem;
    display: flex;
    justify-content: space-between;

    button {
      background-color: rgba(255, 255, 255, .1);
      color: rgba(255, 255, 255, .8);
    }
  }
}

.room-container {
  border: 1px solid white;
}


section.list-view {
  display: flex;
  flex-direction: column;
}

.view-buttons {
  visibility: hidden;
}

@media only screen and (min-width: 800px) {
  :host > .list-view, header.list-view {
    width: 60%;
    margin: 0 auto;
  }

  .view-buttons {
    visibility: visible;
  }

  .map-view {
    display: grid;
    grid-gap: 1rem;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
  }
}
