<header>
  <section class="buttons">
    <button mat-icon-button (click)="goFloorDown()"><mat-icon>arrow_downward</mat-icon></button>
    <button mat-icon-button (click)="goFloorUp()"><mat-icon>arrow_upward</mat-icon></button>
  </section>

  <section>
    <h1>Verdieping {{floorId}}</h1>
    <h2>{{floor != null ? floor.description : 'Deze verdieping bestaat niet.'}}</h2>
  </section>

  <section class="buttons view-buttons">
    <button mat-icon-button (click)="listView = true"><mat-icon>map</mat-icon></button>
    <button mat-icon-button (click)="listView = false"><mat-icon>list</mat-icon></button>
  </section>
</header>

<section class="room-container" [class.list-view]="!listView" [class.map-view]="listView">
  <div *ngFor="let room of rooms"
       class="room"
       (click)="selectRoom(room)"
       [class.occupied]="room.occupied"
       [class.selected-room]="room == selectedRoom"
       [style.grid-row]="room.dimensions.y"
       [style.grid-column]="room.dimensions.x">
    <h1>{{room.name}}
    </h1>
    <span *ngIf="['cafetaria', 'studielandschap'].includes(room.type)"
          matTooltip="Drukte: {{room.crowdedness}}. Capaciteit: {{room.capacity}}"
          class="crowdedness" [style.color]="getCrowdednessColor(room)">{{room.crowdedness}}/{{room.capacity}}
      <mat-icon class="capacity-icon">people</mat-icon></span>

    <span *ngIf="room.occupied == true && ['vergaderzaal', 'aula', 'klaslokaal'].includes(room.type)"
          matTooltip="Tijd tot de ruimte vrijkomt" class="crowdedness">{{room.timeLeft}}</span>

    <div class="extras" *ngIf="room == selectedRoom">
      <ng-container
        *ngIf="room.occupied == false && ['vergaderzaal', 'aula', 'klaslokaal'].includes(room.type)">
        <button mat-raised-button [matMenuTriggerFor]='reserveMenu'>Reserveren</button>
        <mat-menu #reserveMenu="matMenu">
          <button mat-menu-item (click)="reserveRoom(room, 1)">1 uur</button>
          <button mat-menu-item (click)="reserveRoom(room, 2)">2 uur</button>
          <button mat-menu-item (click)="reserveRoom(room, 3)">3 uur</button>
        </mat-menu>
      </ng-container>
      <mat-slider *ngIf="['cafetaria', 'studielandschap'].includes(room.type)"
                  thumbLabel
                  [max]="room.capacity"
                  [value]="room.crowdedness"
                  (input)="room.crowdedness = $event.value"
                  (blur)="updateRoom(room)"></mat-slider>
    </div>
    <mat-icon *ngIf="room == selectedRoom"
              class="info"
              matTooltip="Meer informatie"
              [routerLink]="['/campuses/', campusId, 'floors', floorId, 'rooms', room.name]">info</mat-icon>
    <mat-icon *ngIf="room.beamer"
              class="beamer"
              matTooltip="Beamer aanwezig">linked_camera</mat-icon>
    <app-icon class="room-type"
              [name]="room.type"
              matTooltip="{{room.type}}"
              [color]="'white'"></app-icon>
  </div>
</section>
