<header [class.list-view]="listView">
  <section class="buttons">
    <button mat-icon-button (click)="goFloorDown()"><mat-icon>arrow_downward</mat-icon></button>
    <button mat-icon-button (click)="goFloorUp()"><mat-icon>arrow_upward</mat-icon></button>
  </section>

  <section>
    <h1>Verdieping {{floorId}}</h1>
    <h2>{{floor != null ? floor.description : 'Deze verdieping bestaat niet.'}}</h2>
  </section>

  <section class="buttons view-buttons">
    <button mat-icon-button (click)="listView = false"><mat-icon>map</mat-icon></button>
    <button mat-icon-button (click)="listView = true"><mat-icon>list</mat-icon></button>
  </section>
</header>

<section class="room-container"
         [class.list-view]="listView"
         [class.map-view]="!listView">
  <app-room-map *ngFor="let room of rooms"
                [room]="room"
                [campusId]="campusId"
                [floorId]="floorId"
                [style.grid-row-start]="room.dimensions.y"
                [style.grid-row-end]="room.dimensions.y + room.dimensions.height"
                [style.grid-column-start]="room.dimensions.x"
                [style.grid-column-end]="room.dimensions.x + room.dimensions.width">
  </app-room-map>
</section>
