//variables
$default-font: 'Open Sans', sans-serif;
$color-red: #f63854;
$color-blue: #031d5b;

@font-face {
  font-family: Megrim;
  src: url(~src/assets/fonts/Megrim.ttf);
}

* {
  outline: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-y: overlay;
}

body {
  margin: 0;
  font-family: $default-font;
}

h1 {
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  font-size: .8rem;
  padding: .5rem 0 4rem 0;
  color: white;
  font-weight: 400;
}

//mixins
@mixin top-left-absolute($padding) {
  position: absolute;
  top: $padding;
  left: $padding;
}

@mixin top-right-absolute($padding) {
  position: absolute;
  top: $padding;
  right: $padding;
}

@mixin bottom-right-absolute($padding) {
  position: absolute;
  bottom: $padding;
  right: $padding;
}

@mixin bottom-left-absolute($padding) {
  position: absolute;
  bottom: $padding;
  left: $padding;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
